<main class="body">
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top"> 
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="../../assets/images/logo2.png">
        </a>
        <button mat-raised-button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span> 
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class=" nav-link"  href="landingpg">Home</a>

                  
                </li>

                <li class="nav-item">
                    <a class=" nav-link"  href="/about_us">About us</a>

                </li>

                <li class="nav-item">
                    <a class=" nav-link"  href="/services">Services</a>

                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/blogs">Blog</a> 
                     </li>
                <li class="nav-item">
                    <a class=" nav-link" href="/careers">Careers</a>
                </li>
                <button mat-raised-button class="btn btn-outline-secondary btn-md" routerLink="/contact_us">Contact us</button>
                </ul>
        </div>
    </div>
</nav>

<main class="page-work-area">
    <div class="container-fluid padding">
        <div class="row padding">
            <div class="col-12">
                <h2 class="services_card1">
                 CAREERS
                </h2>
                <p class="services_card2">
                    Only a great team can understand client's specific needs & work to fulfill their requirements. 
                    <br><br>
                    Let's join our team to encourage it.
           </p>
            <br>
                <!-- <a href="#" class="btn btn-primary">Read More</a> -->
            </div>
            <div class="col-lg-6">
            <!-- <div class="embed-responsive embed-responsive-1by1 4by3 16by9 21by9">
                <iframe class="embed-responsive-item" style="height: 350px; margin-top: 60px; vertical-align: middle; width: 550px; margin-left: 50px;" src="../../assets/images/SEO.mp4" ></iframe>
            </div> -->
        </div>
        </div>
        </div>
</main>
<br><br><br>
<!-- Welcome Section core values-->
<div class="container-fluid padding">
    <div class="row welcome text-center">
        <div class="col-12">
            <h1 class="display-4" style="font-size: 40px;">Our Core Values
            </h1>
            <hr>
            <div class="col-12">
                <p class="lead">
                     
                    We provides the best services to be deliver the results that you expect from an outsourcing organization.</p>
                    <p class="lead"> Truthfulness, transparency and collaborative approach is a start!</p>

            </div>
        </div>
    </div>
</div>

<!-- 3 section cards -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card " style="width: 20rem;">
                <div class="inner">
                    <div class="col-xs-12 col-sm-6 col-md-4">
                    <i class="fas fa-bullseye"></i>
                    </div>
                    <!-- <img src="../../assets/images/blog2.jpg" class="card-img-top" alt="..."> -->
                </div>
                
                <div class="card-body text-center">
                  <h5 class="card-title">Our Mission</h5>
                  <p class="card-text">To deliver high-quality software development services with integrity, honesty, and transparency with reasonable margins, while maintaining profitability.</p>
                  <a href="#" class="btn btn-warning">Read More</a>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card " style="width: 20rem;">
                <div class="inner">
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <i class="fas fa-smile"></i>
                    </div>
                    <!-- <img src="../../assets/images/bg2.jpg" class="card-img-top" alt="..."> -->
                </div>
               
                <div class="card-body text-center">
                  <h5 class="card-title">Our Core Values</h5>
                  <p class="card-text">At Maroons, we embrace a well-established set of cultural and professional values which represent our highest aspirations for how we engage as colleagues, fellows, alumni, partners and board members.</p>
                  <a href="#" class="btn btn-warning">Read More</a>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card " style="width: 20rem;">
                <div class="inner">
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <i class="fa fa-trophy"></i>
                        </div>
    
                    <!-- <img src="../../assets/images/bg3.jpg" class="card-img-top" alt="..."> -->
                </div>
                
                <div class="card-body text-center">
                  <h5 class="card-title">Our Vision</h5>
                  <p class="card-text">To be the most recognized and trusted software development company based out of India.</p>
                  <a href="#" class="btn btn-warning">Read More</a>
                </div>
              </div>
        </div>

    </div>
</div> 

<script>
    $(document).ready(function(){
$('.col-md-4').hover(
    // triggers when mouse hovers
    function(){
$(this).animate({
    marginTop:"-=1%",
}, 200);
    },

    // trigger when mouse out
    function(){
$(this).animate({
    marginTop:"0%",
}, 200);
    },

);
    });
</script>
<br><br><br>    <br><br>

<!-- send your resume button -->
<main class="page-work-area2">
    <div class="container-fluid padding">
        <div class="row padding">
            <div class="col-12">
                <h2 class="resume_title">
               Join Our Dream Team
                </h2>
                <p class="resume_title2">
                    Acquiring the right talent is the most important key to growth!!
           </p>
            <br>
                <!-- <a href="#" class="btn btn-primary">Read More</a> -->
            </div>
            <div class="col-lg-6">
            <!-- <div class="embed-responsive embed-responsive-1by1 4by3 16by9 21by9">
                <iframe class="embed-responsive-item" style="height: 350px; margin-top: 60px; vertical-align: middle; width: 550px; margin-left: 50px;" src="../../assets/images/SEO.mp4" ></iframe>
            </div> -->
        </div>
        </div>
        </div>

        <br><br> 
            <!-- contact us button -->
            <div class="row text-center padding">
            <div class="col-12">
            <a href="#" class="btn btn-success btn-lg" >Send Your Resume</a>
        </div>
        </div>
    
</main>
<br><br>


<!-- Resonssive footer -->

<footer>
    <div class="main-content">
        <div class="left box">
           <h2>About Us</h2>
           <div class="content">
               <p>A bunch of professionals from all aspects of technology and services equipped to provide any kind of service to any extent affordable to any aspiring service seeker.</p>
               <div class="social">
                   <a href="#"><span class="fab fa-facebook-f" style="height: 40px; width: 40px; background: #1a1a1a; line-height: 40px;
                    text-align: center; font-size: 18px; border-radius: 5px;  transition: 0.3s;"></span></a>

                   <a href="#"><span class="fab fa-twitter" style="height: 40px; width: 40px; background: #1a1a1a; line-height: 40px;
                    text-align: center; font-size: 18px; border-radius: 5px;  transition: 0.3s;"></span></a>

                   <a href="#"><span class="fab fa-instagram" style="height: 40px; width: 40px; background: #1a1a1a; line-height: 40px;
                    text-align: center; font-size: 18px; border-radius: 5px;  transition: 0.3s;"></span></a>

                   <a href="#"><span class="fab fa-youtube" style="height: 40px; width: 40px; background: #1a1a1a; line-height: 40px;
                    text-align: center; font-size: 18px; border-radius: 5px;  transition: 0.3s;"></span></a>
                   
               </div>
           </div> 
        </div>
<div class="center box">
    <h2>Address</h2>
    <div class="content">
        <div class="place">
            <span class="fas fa-map-marker-alt"></span>
            <span class="text">
                Office No S-817, 8th Floor, South Block ,  Manipal Center Bangalore-42 
            </span>
        </div>

        <div class="phone">
            <span class="fas fa-phone-alt"></span>
            <span class="text">
                +1 639-999-5444
            </span>
        </div>

        <div class="email">
            <span class="fas fa-envelope"></span>
            <span class="text">
                info@maroonsb2b.com
            </span>
        </div>  

    </div>
</div>

<div class="right box">
    <h2>Contact Us</h2>
    <div class="content">
        <form action="#">
        <div class="email">
            <div class="text">
                Email *
            </div>
                <input type="email" required>
            
            <div class="msg">
                <div class="text">
                    Message *
                </div>
                <textarea  cols="25" rows="2" required></textarea>
            </div>
            <div class="btn" >
                <button  class="btn btn-success btn-lg" type="submit">
                    Submit
                </button>
            </div>
        </div>
        </form>
    </div>
</div>

    </div>
</footer>


</main>