<main class="body">

<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top"> 
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="../../assets/images/logo2.png">
        </a>
        <button mat-raised-button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span> 
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class=" nav-link"  href="">Home</a>

                </li>

                <li class="nav-item">
                    <a class=" nav-link"  href="/about_us">About us</a>

                    
                </li>

                <li class="nav-item">
                    <a class=" nav-link"  href="/services">Services</a>

                  

                </li>

                <li class="nav-item">
                    <a class="nav-link">Blog</a> 
                     </li>
                <li class="nav-item">
                    <a class=" nav-link" href="/portfolio">Portfolio</a>
                </li>
                <button mat-raised-button class="btn btn-outline-secondary btn-md" routerLink="/contact_us">Contact us</button>
                </ul>
        </div>
    </div>
</nav>

<!-- Welcome Section to join the dream team -->
<div class="container-fluid padding">
    <div class="row welcome text-center">
        <div class="col-12">
            <h1 class="display-4" style="font-size: 45px;">Case Studies
            </h1>
            <hr>
            <!-- <div class="col-12">
                <p class="lead">Our greatest strength is our team spirit & dedication towards the common goal of client satisfaction.</p>
                <p class="lead">
                    Our team members respect, trust & care for each other.
                 </p>
            </div> -->
        </div>
    </div>
</div>

<!-- projects -->
<section class="team-area">
    <div class="container">
<div class="row">
        <div class="col-xs-12 col-lg-6 col-md-4">
            <div class="team-single">
                <div class="side-one">
                    <div class="card">
                        <div class="card-body text-center">
                            <div class="img-area">
                                <img src="../../assets/images/empower.jpg" class="card-img" alt="" >
                            </div>
                                <!-- <h4>Sasken</h4>
                                <p>NGBDGBHEKBNKGJDNHKLD,KHMKJDGBDHJ</p> -->
                            
                        </div>
                    </div>
                </div>
                <div class="side-two">
                    <div class="card">
                        <div class="card-body text-center mt-4">
                            <h3>Empower</h3>
                            <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 2nd project -->

        <div class="col-xs-12 col-lg-6 col-md-4">
            <div class="team-single">
                <div class="side-one">
                    <div class="card">
                        <div class="card-body text-center">
                            <div class="img-area">
                                <img src="../../assets/images/sasken.jpg" class="card-img" alt="" >
                            </div>
                                <!-- <h4>Sasken</h4>
                                <p>NGBDGBHEKBNKGJDNHKLD,KHMKJDGBDHJ</p> -->
                            
                        </div>
                    </div>
                </div>
                <div class="side-two">
                    <div class="card">
                        <div class="card-body text-center mt-4">
                            <h3>Sasken</h3>
                            <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</section>

<br><br><br>


<!-- Get in touch -->
<div class="row padding">

    <section class="get_in_touch">
  
        <h1 class="title">GET IN TOUCH</h1>
        <div class="container">
          <div class="contact-form row">
            <div class="form-field col-lg-6">
              
              <input id="name" class="input-text" type="text" name="" >
            <label for="name" class="label">Your Name</label>

          </div>
          <div class="form-field col-lg-6">
            <input id="email" class="input-text" type="email" name="" >
            <label for="email" class="label">Email</label>

          </div>
          <div class="form-field col-lg-6">
            <input id="company" class="input-text" type="text" name="" >
            <label for="company" class="label">Company Name</label>

          </div>
          <div class="form-field col-lg-6">
            <input id="phone" class="input-text" type="text" name="" >
            <label for="phone" class="label">Contact number</label>

          </div>
          <div class="form-field col-lg-6">
            <input id="message" class="input-text" type="text" name="" >

            <label for="message" class="label">Your Message</label>

          </div>

          <div class="form-group">
            <label for="exampleFormControlFile1">Browse your file</label>
            <input type="file" class="form-control-file" id="exampleFormControlFile1">
          </div> 

           
<div class="row text-center padding">
<div class="col-md-12">
<a href="#" class="btn btn-success btn-lg" style="vertical-align: middle; margin-left: 260px;" >Send Your Request</a>
</div>
</div>

<br><br><br><br>
        </div>
        <small id="emailHelp" class="form-text text-muted" style="font-size: 16px; color: rgb(135, 137, 250);">Note: We respect your privacy. Your details will never be shared with anyone for marketing purpose.</small>
        </div>

      </section> 
      <br><br>

</div>

<!-- Resonssive footer -->

<footer>
    <div class="main-content">
        <div class="left box">
           <h2>About Us</h2>
           <div class="content">
               <p>A bunch of professionals from all aspects of technology and services equipped to provide any kind of service to any extent affordable to any aspiring service seeker.</p>
               <div class="social">
                   <a href="#"><span class="fab fa-facebook-f" style="height: 40px; width: 40px; background: #1a1a1a; line-height: 40px;
                    text-align: center; font-size: 18px; border-radius: 5px;  transition: 0.3s;"></span></a>

                   <a href="#"><span class="fab fa-twitter" style="height: 40px; width: 40px; background: #1a1a1a; line-height: 40px;
                    text-align: center; font-size: 18px; border-radius: 5px;  transition: 0.3s;"></span></a>

                   <a href="#"><span class="fab fa-instagram" style="height: 40px; width: 40px; background: #1a1a1a; line-height: 40px;
                    text-align: center; font-size: 18px; border-radius: 5px;  transition: 0.3s;"></span></a>

                   <a href="#"><span class="fab fa-youtube" style="height: 40px; width: 40px; background: #1a1a1a; line-height: 40px;
                    text-align: center; font-size: 18px; border-radius: 5px;  transition: 0.3s;"></span></a>
                   
               </div>
           </div> 
        </div>
<div class="center box">
    <h2>Address</h2>
    <div class="content">
        <div class="place">
            <span class="fas fa-map-marker-alt"></span>
            <span class="text">
                Office No S-817, 8th Floor, South Block ,  Manipal Center Bangalore-42 
            </span>
        </div>

        <div class="phone">
            <span class="fa fa-phone"></span>
            <span class="text">
                +1 639-999-5444
            </span>
        </div>

        <div class="email">
            <span class="fas fa-envelope"></span>
            <span class="text">
                info@maroonsb2b.com
            </span>
        </div>  

    </div>
</div>

<div class="right box">
    <h2>Contact Us</h2>
    <div class="content">
        <form action="#">
        <div class="email">
            <div class="text">
                Email *
            </div>
                <input type="email" required>
            
            <div class="msg">
                <div class="text">
                    Message *
                </div>
                <textarea  cols="25" rows="2" required></textarea>
            </div>
            <div class="btn" >
                <button  class="btn btn-success btn-lg" type="submit">
                    Submit
                </button>
            </div>
        </div>
        </form>
    </div>
</div>

    </div>
</footer>

</main>