
<main class="body">
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top"> 
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="../../assets/images/logo2.png">
        </a>
        <button mat-raised-button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span> 
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class=" nav-link"  href="landingpg">Home</a>

                  
                </li>

                <li class="nav-item">
                    <a class=" nav-link"  href="/about_us">About us</a>

                </li>

                <li class="nav-item">
                    <a class=" nav-link"  href="/services">Services</a>

                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/blogs">Blog</a> 
                     </li>
                <li class="nav-item">
                    <a class=" nav-link" href="/careers">Careers</a>
                </li>
                <button mat-raised-button class="btn btn-outline-secondary btn-md" routerLink="/contact_us">Contact us</button>
                </ul>
        </div>
    </div>
</nav>
<!-- main class -->
<main class="page-work-area">

<!-- two coloumn section -->

<div class="container-fluid padding">
    <div class="row padding">
        <div class="col-12">
            <h2 class="services_card1">
              APPLICATION DEVELOPMENT & MANAGEMENT SERVICES
            </h2>
            <p class="services_card2">
            A bunch of professionals from all aspects of technology and services equipped to provide any kind of service to any extent affordable to any aspiring service seeker.</p>
    
    <p class="services_card2">Our operations are carried out from the North American subcontinent where the technology is at its prime with offices in Asia, Europe and Australia.</p>
    <p class="services_card2">
    We work in tandem with various client needs and the modular design of the finished services make it easy to integrate them across all platforms as a perfect fit.
            </p>
            <br>
            <!-- <a href="#" class="btn btn-primary">Read More</a> -->
        </div>
        <div class="col-lg-6">
        <!-- <div class="embed-responsive embed-responsive-1by1 4by3 16by9 21by9">
            <iframe class="embed-responsive-item" style="height: 350px; margin-top: 60px; vertical-align: middle; width: 550px; margin-left: 50px;" src="../../assets/images/SEO.mp4" ></iframe>
        </div> -->
    </div>
    </div>
    </div>
</main>
<br><br><br><br>

<!-- Welcome Section best features -->
<div class="container-fluid padding">
    <div class="row welcome text-center">
        <div class="col-12">
            <h1 class="display-4" style="font-size: 45px;">Best Features
            </h1>
            <hr>
            <div class="col-12">
                <p class="lead">
                    You are the authority and the king of your domain, so we strive hard to project your vision in whatever we do for you. 
                    Your expertise and our ideas are synchronised to bring the most satisfied output to maximise the effect.
                </p>
            </div>
        </div>
    </div>
</div>
<br><br>
<!-- Three coloumn section -->
<div class="container-fluid padding">
    <div class="row text-center padding">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <i class="fas fa-graduation-cap"></i>
            <h3 style="font-weight: bold;">Professional Teamt</h3>
            <p>Our standardised approach will give you the best results throughout.</p>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
            <i class="fas fa-cubes"></i>
            <h3 style="font-weight: bold;">Attention to details</h3>
            <p>No stone is left unturned to ensure that the end result is error free.</p>
        </div>

        <div class="col-sm-12 col-md-4">
            <i class="fas fa-cogs"></i>
            <h3 style="font-weight: bold;">Easy Customization</h3>
            <p>Our modular approach enables to add or remove parts at will.</p>
        </div>
         
    </div>

    <div class="container-fluid padding">
        <div class="row text-center padding">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <i class="fas fa-clock"></i>
                <h3 style="font-weight: bold;">Good History Impact</h3>
                <p>We have a good track record of making the clients satisfy.</p>
            </div>
    
            <div class="col-xs-12 col-sm-6 col-md-4">
                <i class="fas fa-smile"></i>
                <h3 style="font-weight: bold;">Client-Orientation</h3>
                <p>Each project completion is followed by knowledge transfer to clients.</p>
            </div>
    
            <div class="col-sm-12 col-md-4">
                <i class="fas fa-headphones"></i>
                <h3 style="font-weight: bold;">Customer Support</h3>
                <p>We are proud of giving support whenever and how long you need it.</p>
            </div>
             
        </div>

<hr class="my-4">
</div>
<!-- two coloumn section -->

<div class="container-fluid padding">
    <div class="row padding">
        <div class="col-lg-4" style="margin-left: 150px;">
            <h2  style="color: navy; font-size: 30px;">
                Web Developement 
            </h2>
            <p>
            A bunch of professionals from all aspects of technology and services equipped to provide any kind of service to any extent affordable to any aspiring service seeker.</p>
    
    <p>Our operations are carried out from the North American subcontinent where the technology is at its prime with offices in Asia, Europe and Australia.</p>
    <p>
    We work in tandem with various client needs and the modular design of the finished services make it easy to integrate them across all platforms as a perfect fit.
            </p>
            <br>
            <a href="#" class="btn btn-primary">Read More</a>
        </div>
    <div class="col-lg-4" style="margin-left: 100px;">
    <img src="../../assets/images/webimg.jpg" class="img-fluid">    
    </div>
    </div>
    </div>

    <br><br> <br><br>
    <div class="container-fluid padding">
        <div class="row padding">
    
            <div class="col-lg-4" style="margin-left: 150px;">
                <img src="../../assets/images/mobimg.png" class="img-fluid">    
                </div>
            <div class="col-lg-4" style="margin-left: 150px;">
                <h2  style="color: navy; font-size: 30px;">
                   Mobile Developement
                </h2>
                <p>
                A bunch of professionals from all aspects of technology and services equipped to provide any kind of service to any extent affordable to any aspiring service seeker.</p>
        
        <p>Our operations are carried out from the North American subcontinent where the technology is at its prime with offices in Asia, Europe and Australia.</p>
        <p>
        We work in tandem with various client needs and the modular design of the finished services make it easy to integrate them across all platforms as a perfect fit.
                </p>
                <br>
                <a href="#" class="btn btn-primary">Read More</a>
            </div>
        
        </div>
        </div>

<br><br> <br><br>

<div class="container-fluid padding">
    <div class="row padding">
        <div class="col-lg-4" style="margin-left: 150px;">
            <h2  style="color: navy; font-size: 30px;">
               Hosting
            </h2>
            <p>
            A bunch of professionals from all aspects of technology and services equipped to provide any kind of service to any extent affordable to any aspiring service seeker.</p>
    
    <!-- <p>Our operations are carried out from the North American subcontinent where the technology is at its prime with offices in Asia, Europe and Australia.</p>
    <p>
    We work in tandem with various client needs and the modular design of the finished services make it easy to integrate them across all platforms as a perfect fit.
            </p> -->
            <br>
            <a href="#" class="btn btn-primary">Read More</a>
        </div>
    <div class="col-lg-4" style="margin-left: 100px;">
    <img src="../../assets/images/host3.png" class="img-fluid">    
    </div>
    </div>
    </div>

    <br><br> <br><br>
    <div class="container-fluid padding">
        <div class="row padding">
    
            <div class="col-lg-4" style="margin-left: 150px;">
                <img src="../../assets/images/brand9.jpg" class="img-fluid">    
                </div>
            <div class="col-lg-4" style="margin-left: 150px;">
                <h2  style="color: navy; font-size: 30px;">
                   Branding
                </h2>
                <p>
                A bunch of professionals from all aspects of technology and services equipped to provide any kind of service to any extent affordable to any aspiring service seeker.</p>
        
        <!-- <p>Our operations are carried out from the North American subcontinent where the technology is at its prime with offices in Asia, Europe and Australia.</p>
        <p>
        We work in tandem with various client needs and the modular design of the finished services make it easy to integrate them across all platforms as a perfect fit.
                </p> -->
                <br>
                <a href="#" class="btn btn-primary">Read More</a>
            </div>
        
        </div>
        </div>

        <br><br> <br><br>

        <div class="container-fluid padding">
            <div class="row padding">
                <div class="col-lg-4" style="margin-left: 150px;">
                    <h2 style="color: navy; font-size: 30px;">
                       Photography
                    </h2>
                    <p>
                    A bunch of professionals from all aspects of technology and services equipped to provide any kind of service to any extent affordable to any aspiring service seeker.</p>
            
            <!-- <p>Our operations are carried out from the North American subcontinent where the technology is at its prime with offices in Asia, Europe and Australia.</p>
            <p>
            We work in tandem with various client needs and the modular design of the finished services make it easy to integrate them across all platforms as a perfect fit.
                    </p> -->
                    <br>
                    <a href="#" class="btn btn-primary">Read More</a>
                </div>
            <div class="col-lg-4" style="margin-left: 100px;">
            <img src="../../assets/images/photo3.png" class="img-fluid">    
            </div>
            </div>
            </div>
        
            <br><br> <br><br> 
            <!-- contact us button -->
            <div class="row text-center padding">
            <div class="col-md-12">
            <a href="#" class="btn btn-warning btn-lg" >Contact Us</a>
        </div>
        </div>
</div>
<br><br><br><br>
<!-- software application developement technology  and  service stack-->

<div class="container-fluid padding">
    <div class="row welcome text-center">
        <div class="col-12">
            <h1 class="display-4" style="font-size: 30px;">Software application development technology & service stack
            </h1>
            <hr>
            <div class="col-12">
                <p class="lead">
                    We have a strong team of experts experienced in diverse technology sets ranging from mobility.
                </p> 
                <p class="lead">
                    Your expertise and our ideas are synchronised to bring the most satisfied output to maximise the effect.
                </p>
                <br><br><br><br>
                <!-- tabs -->
                <mat-tab-group mat-align-tabs="center" dynamicHeight="true">

                    <mat-tab class="tab_Services"label="Web Developement & Management">
<br><br>
                    
                    <div class="container">
                        <div class="row">
                            <div class="col-md-2 col-sm-6">
                                <div class="card  text-center">
                                    <div class="card-block">
                                        <img src="../../assets/images/custom.jpg" class="img-fluid">
                                        <div class="card-title">
                                        <h2>Web portal development</h2>
                                        </div>
                                <!-- <div class="card-text">
                                    sample1
                                </div> -->
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-2 col-sm-6">
                                    <div class="card  text-center">
                                        <div class="card-block">
                                            <img src="../../assets/images/blog2.jpg" class="img-fluid">
                                            <div class="card-title">
                                            <h2>E-commerce Website development</h2>
                                            </div>
                                    <!-- <div class="card-text">
                                        sample1
                                    </div> -->
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-2 col-sm-6">
                                        <div class="card  text-center">
                                            <div class="card-block">
                                                <img src="../../assets/images/blog3.jpg" class="img-fluid">
                                                <div class="card-title">
                                                <h2>Custom Web Development</h2>
                                                </div>
                                        <!-- <div class="card-text">
                                            sample1
                                        </div> -->
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-2 col-sm-6">
                                            <div class="card  text-center">
                                                <div class="card-block">
                                                    <img src="../../assets/images/blog4.jpg" class="img-fluid">
                                                    <div class="card-title">
                                                    <h2>Enterprise Web development</h2>
                                                    </div>
                                            <!-- <div class="card-text">
                                                sample1
                                            </div> -->
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-2 col-sm-6">
                                                <div class="card  text-center">
                                                    <div class="card-block">
                                                        <img src="../../assets/images/blog5.jpg" class="img-fluid">
                                                        <div class="card-title">
                                                        <h2>CRM Software Development</h2>
                                                        </div>
                                                <!-- <div class="card-text">
                                                    sample1
                                                </div> -->
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-2 col-sm-6">
                                                    <div class="card  text-center">
                                                        <div class="card-block">
                                                            <img src="../../assets/images/blog6.jpg" class="img-fluid">
                                                            <div class="card-title">
                                                            <h2>Content Marketing</h2>
                                                            </div>
                                                    <!-- <div class="card-text">
                                                        sample1
                                                    </div> -->
                                                            </div>
                                                        </div>
                                                    </div>
                        </div>
                    </div>

                    </mat-tab>
                    <mat-tab label="Mobile app developement & Management">

                        <br><br>
                    
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 col-sm-6">
                                <div class="card  text-center">
                                    <div class="card-block">
                                        <img src="../../assets/images/custom.jpg" class="img-fluid">
                                        <div class="card-title">
                                        <h2>iOS native app development</h2>
                                        </div>
                                <!-- <div class="card-text">
                                    sample1
                                </div> -->
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-6">
                                    <div class="card  text-center">
                                        <div class="card-block">
                                            <img src="../../assets/images/blog2.jpg" class="img-fluid">
                                            <div class="card-title">
                                            <h2>Android native app development</h2>
                                            </div>
                                    <!-- <div class="card-text">
                                        sample1
                                    </div> -->
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-6">
                                        <div class="card  text-center">
                                            <div class="card-block">
                                                <img src="../../assets/images/blog3.jpg" class="img-fluid">
                                                <div class="card-title">
                                                <h2>Hybrid app development</h2>
                                                </div>
                                        <!-- <div class="card-text">
                                            sample1
                                        </div> -->
                                                </div>
                                            </div>
                                        </div>

                                        <!-- <div class="col-md-2 col-sm-6">
                                            <div class="card  text-center">
                                                <div class="card-block">
                                                    <img src="../../assets/images/blog4.jpg" class="img-fluid">
                                                    <div class="card-title">
                                                    <h1>Enterprise Web development</h1>
                                                    </div>
                                            <div class="card-text">
                                                sample1
                                            </div>
                                                    </div>
                                                </div>
                                            </div> -->

                                            
                            
                        </div>
                    </div>

        
                    </mat-tab>
                    <mat-tab label="Cloud & DevOps">

                        <br><br>
                    
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4 col-sm-6">
                                    <div class="card  text-center">
                                        <div class="card-block">
                                            <img src="../../assets/images/host1.jpg" class="img-fluid">
                                            <div class="card-title">
                                            <h2>AWS</h2>
                                            </div>
                                    <!-- <div class="card-text">
                                        sample1
                                    </div> -->
                                            </div>
                                        </div>
                                    </div>
    
                                    <div class="col-md-4 col-sm-6">
                                        <div class="card  text-center">
                                            <div class="card-block">
                                                <img src="../../assets/images/host2.jpg" class="img-fluid">
                                                <div class="card-title">
                                                <h2>Azure</h2>
                                                </div>
                                        <!-- <div class="card-text">
                                            sample1
                                        </div> -->
                                                </div>
                                            </div>
                                        </div>
    
                                        <div class="col-md-4 col-sm-6">
                                            <div class="card  text-center">
                                                <div class="card-block">
                                                    <img src="../../assets/images/host4.jpg" class="img-fluid">
                                                    <div class="card-title">
                                                    <h2>Google cloud</h2>
                                                    </div>
                                            <!-- <div class="card-text">
                                                sample1
                                            </div> -->
                                                    </div>
                                                </div>
                                            </div>
    

                            </div>
                        </div>
    
                    </mat-tab>
                    <mat-tab label="Branding">Content 3</mat-tab>
                    <mat-tab label="technology">Content 3</mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
</div>
<br><br><br><br>



<br>
<!-- Jumbotron -->


<!-- main class2 -->
<main class="page-work-area">

    <div class="container-fluid padding">
        <div class="row welcome text-center">
            <div class="col-12">
                <h1 class="display-4" style="color: white; margin-bottom: 50px; margin-top: 70px; font-size: 45px;">
                    Ready to get started?
                </h1>
                <!-- <hr> -->
                <div class="col-12">
                    <p class="lead1">
                        You are the authority & the king of your domain, so we strive hard to project your vision in whatever we do for you. 
                    </p>
                    <p class="lead1">
                        Your expertise & our ideas are synchronised to bring the most satisfied output to maximise the effect.
                    </p>
                </div>
            </div>
        </div>
    </div>


        <br><br> <br><br> 
            <!-- contact us button -->
            <div class="row text-center padding">
            <div class="col-md-12">
            <a href="#" class="btn btn-success btn-lg" >Contact Us</a>
        </div>
        </div>
    

</main>

<br><br><br><br>

<!-- Welcome Section Client Testimonials-->
<!-- <div class="container-fluid padding">
    <div class="row welcome text-center">
        <div class="col-12">
            <h1 class="display-4" style="font-size: 40px;">Client Testimonials
            </h1>
            <hr>
            <div class="col-12">
                <p class="lead">
                    We have had an amazing journey with the below clients.
                </p>
            </div>
        </div>
    </div>
</div>
<br><br> -->

<br><br><br><br>

<!-- Welcome Section FAQ's-->
<div class="container-fluid padding">
    <div class="row welcome text-center">
        <div class="col-12">
            <h1 class="display-4" style="font-size: 40px;">Frequently Asked Question's
            </h1>
            <hr>
            <div class="col-12">
                <p class="lead">
                    Know more about our processes & how we work with the help of following FAQ's
                </p>
            </div>
            <br><br>
            <div class="row padding">
            <div class="col-md-10" style="margin-left: 120px; margin-right: 150px;" >
            <mat-list >
                <mat-accordion *ngFor="let faq of faqs">
                  <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                      <mat-panel-title class="faq_title"> {{ faq.que }} </mat-panel-title>
                      <div class="spacer"></div>
                      <!-- <button mat-icon-button matTooltip="expand">
                        <mat-icon>keyboard_arrow_down</mat-icon>
                      </button> -->
                      <svg width="1em" height="1em" 
                      viewBox="0 0 16 16" 
                      class="bi bi-chevron-down" 
                      fill="currentColor" 
                      xmlns="http://www.w3.org/2000/svg" 
                      matTooltip="expand" >
                        <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                      </svg>
                    </mat-expansion-panel-header>
                    <p>{{ faq.ans }}</p>
                  </mat-expansion-panel>
                  <mat-expansion-panel
                    (opened)="panelOpenState = true"
                    (closed)="panelOpenState = false"
                  >
                  </mat-expansion-panel>
                </mat-accordion>
                
              </mat-list>
              </div>

</div>
        </div>
    </div>
</div>
<br><br>
    </main>